- content_for :title do
  Registration
- content_for :body_id do
  user-register
- content_for :body_class do
  user-page

%h2 Register for Membership
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :username
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :mobile
  = f.input :about_me, :as => :text, :input_html => { :cols => 50, :rows => 7 }, :hint => "(tell our other members a bit about yourself)"
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation, :autocomplete => "off"
  = render 'common/privacy'
  .actions
    = f.submit 'Register'
= render "devise/shared/links"
