- content_for :title do
  Registration
- content_for :body_id do
  user-register
- content_for :body_class do
  user-page

%h2 Register for Our Chorus
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .clear.fixed-width-labels
    = f.input :username
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :mobile
    = f.input :about_me, :as => :text, :input_html => { :cols => 50, :rows => 7 }
    = f.input :password, :autocomplete => "off"
    = f.input :password_confirmation, :autocomplete => "off"
    %p
      Attach a
      %a{:href => "https://en.gravatar.com/", :target=>"_blank"} Gravatar
      to your email address if you want a picture of yourself to display on our members list, otherwise a random avatar will be assigned to you.
    = render 'common/privacy'
    .actions
      = f.submit 'Register'
%nav.page-links
  = render "devise/shared/links"
