%div
  Hey everybody! We have a new registrant!
  %div
    %br/
  %div
    Name: #{@member.full_name}
  %div
    %br/
  %div
    Email: #{@member.email}
  %div
    %br/
  %div
    Mobile: #{@member.mobile}
  %div
    %br/
  %div
    About Me: #{@member.about_me}
  %div
    - if @member.has_role? :prospective
      #{@member.first_name} is a prospective member.
    - if @member.has_role? :course_attendee
      #{@member.first_name} will attend the course.
  %div
    %br/
