- content_for :title do
  Our Members
- content_for :body_id do
  users-list
- content_for :body_class do
  user-page

%h1 Our Members

%table

  - @users.each do |user|
    %tr.details
      %td= user.full_name
      %td= user.email
      %td= user.mobile
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_registration_path(user)
      - if our_user == user
        %td &nbsp;
      - else
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
    %tr.about
      %td &nbsp;
      %td{:colspan => "5"}= user.about_me
%br

= link_to 'New User', new_user_registration_path
