- content_for :title do
  Registration
- content_for :body_id do
  user-register
- content_for :body_class do
  user-page

%h2 Create new Member
= simple_form_for(@user, :as => "user", :url => users_path, :html => { :method => :put, :autocomplete => "off" }) do |f|
  = f.error_notification
  = f.input :username
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :mobile
  = f.input :about_me, :as => :text, :input_html => { :cols => 50, :rows => 7 }
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation, :autocomplete => "off"
  .actions
    = f.submit 'Create'
%nav.page-links
  = link_to "Back", :back
