%nav#main-nav
  %ul
    - if can? :view, Content.vision
      %li>
        = link_to 'Our Vision', static_pages_our_vision_path
    - if can? :view, Content.values
      %li>
        = link_to 'Our Values', static_pages_our_values_path
    - if can? :view, Content.members
      %li>
        = link_to 'Our Members', users_path
    - if can? :view, Content.music
      %li>
        = link_to 'Our Music', static_pages_our_music_path
    - if can? :view, Content.how_we_operate
      %li>
        = link_to 'How we Operate', static_pages_how_we_operate_path
    - if user_signed_in?
      %li>
        = link_to "Sign out", destroy_user_session_path, :method => :delete
      - if can? :edit, current_user
        %li>
          = link_to "Change your Details", edit_user_registration_path
    - else
      %li>
        = link_to "Sign in", new_user_session_path
      %li>
        = link_to "Join us!", new_user_registration_path
