%nav#main-nav
  %ul
    - if can? :view, Content.vision
      %li>
        = link_to 'Our Vision', static_pages_our_vision_path
    - if can? :view, Content.values
      %li>
        = link_to 'Our Values', static_pages_our_values_path
    - if can? :manage, User
      %li>
        = link_to 'Our Members', users_path
    - elsif can? :list, User
      %li>
        = link_to 'Our Members', list_users_path
    - if can? :view, Content.music
      %li>
        = link_to 'Our Music', static_pages_our_music_path
    - if can? :view, Content.practices
      %li>
        = link_to 'Our Practices', static_pages_our_practices_path
    - if can? :view, Content.grow
      %li>
        = link_to 'Grow With Us', static_pages_grow_your_voice_path
    - if can? :view, Content.materials
      %li>
        = link_to 'Course Materials', static_pages_course_materials_path
    %li>
      = link_to 'Contact us', static_pages_contact_us_path
    - if user_signed_in?
      - if can? :edit, current_user
        %li>
          = link_to "Change my Details", edit_user_registration_path
      %li>
        = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      %li>
        = link_to "Sign in", new_user_session_path
      %li>
        = link_to "Join us!", new_user_registration_path
